*bin
*obj
*bin/Debug/

**bin
**obj
.vs/
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.deps.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.dll
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.pdb
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.staticwebassets.endpoints.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.staticwebassets.runtime.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.deps.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.dll
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.pdb
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.staticwebassets.endpoints.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net9.0/Synapsers.MudBlazor.ThemeManager.Saver.staticwebassets.runtime.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net8.0/Synapsers.MudBlazor.ThemeManager.Saver.deps.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net8.0/Synapsers.MudBlazor.ThemeManager.Saver.dll
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net8.0/Synapsers.MudBlazor.ThemeManager.Saver.pdb
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net8.0/Synapsers.MudBlazor.ThemeManager.Saver.staticwebassets.endpoints.json
/src/Synapsers.MudBlazor.ThemeManager.Saver/bin/Debug/net8.0/Synapsers.MudBlazor.ThemeManager.Saver.staticwebassets.runtime.json
nupkg/
*.nupkg
*.snupkg
*.ps1
build-nuget.ps1